# Tuples

Tuples hold records: each item in the tuple holds the data for one field and the position of the item gives its meaning.
If you think of a tuple just as an immutable list, the quantity and the order of the items may or may not be important, depending on the context. But when using a tuple as a collection of fields, the number of items is often fixed and their order is always vital.

In [6]:
# tuples used as record
lax_coordinates = (33.9425, -118.408056)
city, year, pop, chg, area = ('Tokyo', 2003, 32450, 0.66, 8014)
traveler_ids = [('USA', '31195855'), ('BRA', 'CE342567'), ('ESP', 'XDA205856')]

# The % formatting operator understands tuples and treats each item as a separate field.
for passport in traveler_ids:
    print('%s/%s' % passport)
    
# The for loop knows how to retrieve the items of a tuple
# separately—this is called “unpacking.” Here we are not
# interested in the second item, so it’s assigned to _, a dummy variable.
print("\nsorted")
for country, _ in traveler_ids:
    print(country)

USA/31195855
BRA/CE342567
ESP/XDA205856

sorted
USA
BRA
ESP

### Tuple Unpacking

In [7]:
# The most visible form of tuple unpacking is parallel assignment;
# that is, assigning items from an iterable to a tuple of variables,
# as you can see in this example:

lax_coordinates = (33.9425, -118.408056)
latitude, longitude = lax_coordinates

latitude, longitude

(33.9425, -118.408056)

In [8]:
# An elegant application of tuple unpacking is swapping 
# the values of variables without using a temporary variable:
latitude, longitude = longitude, latitude

latitude, longitude

(-118.408056, 33.9425)

In [10]:
# Another example of tuple unpacking is prefixing an argument with a star when calling
# a function:
t = (20, 8)
quotient, remainder = divmod(*t)
quotient, remainder

(2, 4)

### Using * to grab excess items

In [11]:
# Defining function parameters with *args to grab 
# arbitrary excess arguments is a classic Python feature.
a, b, *rest = range(5)
a, b, rest

(0, 1, [2, 3, 4])

In [12]:
a, b, *rest = range(3)
a, b, rest

(0, 1, [2])

In [14]:
# In the context of parallel assignment, 
# the * prefix can be applied to exactly one variable,
# but it can appear in any position:
a, b, *rest, c, d = range(10)
a, b, rest, c, d

(0, 1, [2, 3, 4, 5, 6, 7], 8, 9)

### Nested tuple unpacking

In [16]:
# Unpacking nested tuples to access the longitude
metro_areas = [('Tokyo','JP',36.933,(35.689722,139.691667)), 
               ('Delhi NCR', 'IN', 21.935, (28.613889, 77.208889)),
               ('Mexico City', 'MX', 20.142, (19.433333, -99.133333)),
               ('New York-Newark', 'US', 20.104, (40.808611, -74.020386)),
               ('Sao Paulo', 'BR', 19.649, (-23.547778, -46.635833)),
]
print('{:15} | {:^9} | {:^9}'.format('', 'lat.', 'long.'))
fmt = '{:15} | {:9.4f} | {:9.4f}'

for name, cc, pop, (lat, long) in metro_areas:
    if long <=0:
        print(fmt.format(name, lat, long))

                |   lat.    |   long.
Mexico City     |   19.4333 |  -99.1333
New York-Newark |   40.8086 |  -74.0204
Sao Paulo       |  -23.5478 |  -46.6358

## Named Tuples

In [21]:
# Defining and using a named tuple type
# Two parameters are required to create a named tuple:
# a class name and a list of field names, which can be given as an 
# iterable of strings or as a single space- delimited string.
from collections import namedtuple

City = namedtuple('City', 'name country population coordinates')
tokyo = City('Tokyo', 'JP', 36.933, (35.689722, 139.691667))
tokyo

City(name='Tokyo', country='JP', population=36.933, coordinates=(35.689722, 139.691667))

In [22]:
print("city --> {}".format(tokyo.name))
print("Population --> {}".format(tokyo.population))
print("country --> {}".format(tokyo.country))
print("coordinates --> {}".format(tokyo.coordinates))

city --> Tokyo
Population --> 36.933
country --> JP
coordinates --> (35.689722, 139.691667)

In [23]:
# Named tuple attriute and methods
City._fields

('name', 'country', 'population', 'coordinates')

In [24]:
LatLong = namedtuple('LatLong', 'lat long')
delhi_data = ('Delhi NCR', 'IN', 21.935, LatLong(28.613889, 77.208889))

In [25]:
delhi = City._make(delhi_data)
delhi

City(name='Delhi NCR', country='IN', population=21.935, coordinates=LatLong(lat=28.613889, long=77.208889))

In [27]:
delhi._asdict()

OrderedDict([('name', 'Delhi NCR'),
             ('country', 'IN'),
             ('population', 21.935),
             ('coordinates', LatLong(lat=28.613889, long=77.208889))])

In [29]:
for key, value in delhi._asdict().items():
    print(key + ':' , value)

name: Delhi NCR
country: IN
population: 21.935
coordinates: LatLong(lat=28.613889, long=77.208889)