# Tuples

Tuples hold records: each item in the tuple holds the data for one field and the position of the item gives its meaning.
If you think of a tuple just as an immutable list, the quantity and the order of the items may or may not be important, depending on the context. But when using a tuple as a collection of fields, the number of items is often fixed and their order is always vital.

In [6]:
# tuples used as record
lax_coordinates = (33.9425, -118.408056)
city, year, pop, chg, area = ('Tokyo', 2003, 32450, 0.66, 8014)
traveler_ids = [('USA', '31195855'), ('BRA', 'CE342567'), ('ESP', 'XDA205856')]

# The % formatting operator understands tuples and treats each item as a separate field.
for passport in traveler_ids:
    print('%s/%s' % passport)
    
# The for loop knows how to retrieve the items of a tuple
# separately—this is called “unpacking.” Here we are not
# interested in the second item, so it’s assigned to _, a dummy variable.
print("\nsorted")
for country, _ in traveler_ids:
    print(country)

USA/31195855
BRA/CE342567
ESP/XDA205856

sorted
USA
BRA
ESP

### Tuple Unpacking

In [7]:
# The most visible form of tuple unpacking is parallel assignment;
# that is, assigning items from an iterable to a tuple of variables,
# as you can see in this example:

lax_coordinates = (33.9425, -118.408056)
latitude, longitude = lax_coordinates

latitude, longitude

(33.9425, -118.408056)

In [8]:
# An elegant application of tuple unpacking is swapping 
# the values of variables without using a temporary variable:
latitude, longitude = longitude, latitude

latitude, longitude

(-118.408056, 33.9425)

In [10]:
# Another example of tuple unpacking is prefixing an argument with a star when calling
# a function:
t = (20, 8)
quotient, remainder = divmod(*t)
quotient, remainder

(2, 4)

### Using * to grab excess items

In [11]:
# Defining function parameters with *args to grab 
# arbitrary excess arguments is a classic Python feature.
a, b, *rest = range(5)
a, b, rest

(0, 1, [2, 3, 4])

In [12]:
a, b, *rest = range(3)
a, b, rest

(0, 1, [2])

In [14]:
# In the context of parallel assignment, 
# the * prefix can be applied to exactly one variable,
# but it can appear in any position:
a, b, *rest, c, d = range(10)
a, b, rest, c, d

(0, 1, [2, 3, 4, 5, 6, 7], 8, 9)

### Nested tuple unpacking

In [16]:
# Unpacking nested tuples to access the longitude
metro_areas = [('Tokyo','JP',36.933,(35.689722,139.691667)), 
               ('Delhi NCR', 'IN', 21.935, (28.613889, 77.208889)),
               ('Mexico City', 'MX', 20.142, (19.433333, -99.133333)),
               ('New York-Newark', 'US', 20.104, (40.808611, -74.020386)),
               ('Sao Paulo', 'BR', 19.649, (-23.547778, -46.635833)),
]
print('{:15} | {:^9} | {:^9}'.format('', 'lat.', 'long.'))
fmt = '{:15} | {:9.4f} | {:9.4f}'

for name, cc, pop, (lat, long) in metro_areas:
    if long <=0:
        print(fmt.format(name, lat, long))

                |   lat.    |   long.
Mexico City     |   19.4333 |  -99.1333
New York-Newark |   40.8086 |  -74.0204
Sao Paulo       |  -23.5478 |  -46.6358

## Named Tuples

In [21]:
# Defining and using a named tuple type
# Two parameters are required to create a named tuple:
# a class name and a list of field names, which can be given as an 
# iterable of strings or as a single space- delimited string.
from collections import namedtuple

City = namedtuple('City', 'name country population coordinates')
tokyo = City('Tokyo', 'JP', 36.933, (35.689722, 139.691667))
tokyo

City(name='Tokyo', country='JP', population=36.933, coordinates=(35.689722, 139.691667))

In [22]:
print("city --> {}".format(tokyo.name))
print("Population --> {}".format(tokyo.population))
print("country --> {}".format(tokyo.country))
print("coordinates --> {}".format(tokyo.coordinates))

city --> Tokyo
Population --> 36.933
country --> JP
coordinates --> (35.689722, 139.691667)

In [23]:
# Named tuple attriute and methods
City._fields

('name', 'country', 'population', 'coordinates')

In [24]:
LatLong = namedtuple('LatLong', 'lat long')
delhi_data = ('Delhi NCR', 'IN', 21.935, LatLong(28.613889, 77.208889))

In [25]:
delhi = City._make(delhi_data)
delhi

City(name='Delhi NCR', country='IN', population=21.935, coordinates=LatLong(lat=28.613889, long=77.208889))

In [27]:
delhi._asdict()

OrderedDict([('name', 'Delhi NCR'),
             ('country', 'IN'),
             ('population', 21.935),
             ('coordinates', LatLong(lat=28.613889, long=77.208889))])

In [29]:
for key, value in delhi._asdict().items():
    print(key + ':' , value)

name: Delhi NCR
country: IN
population: 21.935
coordinates: LatLong(lat=28.613889, long=77.208889)

# Slicing

A common feature of list, tuple, str, and all sequence types in Python is the support of slicing operations, which are more powerful than most people realize.
The Pythonic convention of excluding the last item in slices and ranges works well with the zero-based indexing used in Python, C, and many other languages.

• It’s easy to see the length of a slice or range when only the stop position is given: range(3) and my_list[:3] both produce three items.

• It’s easy to compute the length of a slice or range when start and stop are given: just subtract stop - start.

In [2]:
# It’s easy to split a sequence in two parts at any index x,
# without overlapping: simply get my_list[:x] and my_list[x:].
# For example:
l=[10,20,30,40,50,60]

# split at 2
_x = l[:2]
x_ = l[2:]
print(_x)
print(x_)

[10, 20]
[30, 40, 50, 60]

In [3]:
# split at 3
_x3 = l[:3]
x3_ = l[3:]
print(_x3)
print(x3_)

[10, 20, 30]
[40, 50, 60]

### Slice Objects

In [4]:
# This is no secret, but worth repeating just in case:
# s[a:b:c] can be used to specify a stride or step c, 
# causing the resulting slice to skip items. \
# The stride can also be negative, returning items in reverse.
# Three examples make this clear:
s_ex = 'germany'
print(s_ex[::3])
print(s_ex[::-1])
print(s_ex[::-2])

gmy
ynamreg
yarg

### Multidimensional Slicing and Ellipsis

The ellipsis—written with three full stops (...) and not ... (Unicode U+2026)—is rec‐ ognized as a token by the Python parser. It is an alias to the Ellipsis object, the single instance of the ellipsis class.2 As such, it can be passed as an argument to functions and as part of a slice specification, as in f(a, ..., z) or a[i:...]. NumPy uses ... as a shortcut when slicing arrays of many dimensions; for example, if x is a four- dimensional array, x[i, ...] is a shortcut for x[i, :, :, :,].

### Assigning to slicing

In [9]:
l = list(range(10))
print('l = {}'.format(l))
print('\n')

l[2:5] = [20, 30]
print("Updated l[2:5]")
print(l)
print('\n')

del l[5:7]
print("deleted l[5:7]")
print(l)
print('\n')

l[3::2] = [11, 22]
print(l)
print('\n')

l = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]


Updated l[2:5]
[0, 1, 20, 30, 5, 6, 7, 8, 9]


deleted l[5:7]
[0, 1, 20, 30, 5, 8, 9]


[0, 1, 20, 11, 5, 22, 9]

In [7]:
# When the target of the assignment is a slice,
# the right side must be an iterable object, 
# even if it has just one item.
l[2:5] = 100

TypeError: can only assign an iterable

In [10]:
l[2:5] = [100]
print(l)
print('\n')

[0, 1, 100, 22, 9]

# Building list of Lists

In [2]:
# a tic tac toe board game
b_game = [['_'] * 3 for i in range(3)]
b_game

[['_', '_', '_'], ['_', '_', '_'], ['_', '_', '_']]

In [3]:
b_game[1][2] = 'X'
b_game

[['_', '_', '_'], ['_', '_', 'X'], ['_', '_', '_']]

In [9]:
# a list with three references to the same list is useless
# The outer list is made of three references to the same inner list.
# While it is unchanged, all seems right.
weird_bgame = [['_'] * 3] * 3
weird_bgame

[['_', '_', '_'], ['_', '_', '_'], ['_', '_', '_']]

In [10]:
# Placing a mark in row 1, column 2, reveals that all 
# rows are aliases referring to the same object.
weird_bgame[1][2] = '0'
weird_bgame

[['_', '_', '0'], ['_', '_', '0'], ['_', '_', '0']]

In [13]:
# weird_bgame behaves like this
# same row is appended three times to the board
row=['_']*3 
board = []
for i in range(3):
    board.append(row)
board

[['_', '_', '_'], ['_', '_', '_'], ['_', '_', '_']]

In [14]:
# b_game is equivalent to this
b_game = []
for i in range(3):
    row=['_'] * 3
    b_game.append(row)
b_game

[['_', '_', '_'], ['_', '_', '_'], ['_', '_', '_']]

In [16]:
# Only row 3 is changed, as expected
b_game[2][0]='X'
b_game

[['_', '_', '_'], ['_', '_', '_'], ['X', '_', '_']]

# Augmented Assignment with Sequences

The augmented assignment operators += and *= behave very differently depending on the first operand.

In [17]:
l = [1, 2, 3]
print(l)

# ID of the initial list
print("address --> {}".format(id(l)))

l *= 2
print(l)

# After multiplication, the list is the same object, with new items appended.
print("address --> {}".format(id(l)))

[1, 2, 3]
address --> 4549335816
[1, 2, 3, 1, 2, 3]
address --> 4549335816

In [19]:
t = (1, 2, 3)
print(t)

# ID of initial tuple
print("address --> {}".format(id(t)))

t *= 2
print(t)

# After multiplication, a new tuple was created
print("address --> {}".format(id(t)))

(1, 2, 3)
address --> 4549533984
(1, 2, 3, 1, 2, 3)
address --> 4527583496

Repeated concatenation of immutable sequences is inefficient, because instead of just appending new items, the interpreter has to copy the whole target sequence to create a new one with the new items concatenated.

In [3]:
# A += assignment puzzle
t = (1, 2, [20, 30])
t[2] += [50, 40]

TypeError: 'tuple' object does not support item assignment

In [4]:
t

(1, 2, [20, 30, 50, 40])

In [5]:
dis.dis('s[a] += b')

NameError: name 'dis' is not defined

# list.sort and the sorted Built-In Function

The list.sort method sorts a list in place—that is, without making a copy. It returns None to remind us that it changes the target object, and does not create a new list.

### reverse
If True, the items are returned in descending order (i.e., by reversing the comparison of the items). The default is False.
### key
 A one-argument function that will be applied to each item to produce its sorting key. For example, when sorting a list of strings, key=str.lower can be used to perform a case-insensitive sort, and key=len will sort the strings by character length. The default is the identity function (i.e., the items themselves are compared).

In [6]:
# examples to clarify
fruits = ['grape', 'raspberry', 'apple', 'banana']
sorted(fruits)

['apple', 'banana', 'grape', 'raspberry']

In [7]:
fruits

['grape', 'raspberry', 'apple', 'banana']

In [12]:
# This is simply reverse alphabetical ordering.
sorted(fruits, reverse=True)

['raspberry', 'grape', 'banana', 'apple']

In [15]:
# A new list of strings, now sorted by length. 
# Because the sorting algorithm is stable, 
# “grape” and “apple,” both of length 5, are in the original order.
sorted(fruits, key=len)

['apple', 'grape', 'banana', 'raspberry']

In [11]:
# These are the strings sorted in descending order of length. 
# It is not the reverse of the previous result because the 
# sorting is stable, so again “grape” appears before “apple.”
sorted(fruits, reverse=True, key=len)

['raspberry', 'banana', 'grape', 'apple']

In [19]:
# This sorts the list in place, 
# and returns None (which the console omits).
fruits.sort()

In [20]:
fruits

['apple', 'banana', 'grape', 'raspberry']

# Managing Ordered Sequences with bisect

The bisect module offers two main functions—bisect and insort—that use the bi‐ nary search algorithm to quickly find and insert items in any sorted sequence.


### Searching with bisect
bisect(haystack, needle) does a binary search for needle in haystack—which must be a sorted sequence—to locate the position where needle can be inserted while main ‐ taining haystack in ascending order.

We could use the result of bisect(haystack, needle) as the index argument to haystack.insert(index, needle)—however, using insort does both steps, and is faster.

In [21]:
import bisect
import sys

In [22]:
HAYSTACK = [1, 4, 5, 6, 8, 12, 15, 20, 21, 23, 23, 26, 29, 30]
NEEDLES = [0, 1, 2, 5, 8, 10, 22, 23, 29, 30, 31]

In [23]:
ROW_FMT = '{0:2d} @ {1:2d}    {2}{0:<2d}'

In [24]:
def demo(bisect_fn):
    for needle in reversed(NEEDLES):
        position = bisect_fn(HAYSTACK, needle)
        offset = position * ' |'
        print(ROW_FMT.format(needle, position, offset))

In [26]:
bisect_fn = bisect.bisect_left
print('DEMO:', bisect_fn.__name__)
print('haystack ->', ' '.join('%2d' % n for n in HAYSTACK))
demo(bisect_fn)

DEMO: bisect_left
haystack ->  1  4  5  6  8 12 15 20 21 23 23 26 29 30
31 @ 14     | | | | | | | | | | | | | |31
30 @ 13     | | | | | | | | | | | | |30
29 @ 12     | | | | | | | | | | | |29
23 @  9     | | | | | | | | |23
22 @  9     | | | | | | | | |22
10 @  5     | | | | |10
 8 @  4     | | | |8
 5 @  2     | |5
 2 @  1     |2
 1 @  0    1
 0 @  0    0

In [28]:
# An interesting application of bisect is to perform 
# table lookups by numeric values— for example,
# to convert test scores to letter grades
# Given a test score, grade returns the corresponding letter grade
def grade(score, breakpoints=[60, 70, 80, 90], grades='FDCBA'):
    i = bisect.bisect(breakpoints, score)
    return grades[i]

In [31]:
[grade(score) for score in [33, 99, 77, 70, 89, 90, 100]]

['F', 'A', 'C', 'C', 'B', 'A', 'A']

### Inserting with bisect.insort

Sorting is expensive, so once you have a sorted sequence, it’s good to keep it that way. That is why bisect.insort was created.

In [33]:
# Insort keeps a sequence sorted even after insertion
import bisect
import random
SIZE=7 
random.seed(1729)

In [34]:
my_list = []
for i in range(SIZE):
    new_item = random.randrange(SIZE*2)
    bisect.insort(my_list, new_item)
    print('%2d ->' % new_item, my_list)

10 -> [10]
 0 -> [0, 10]
 6 -> [0, 6, 10]
 8 -> [0, 6, 8, 10]
 7 -> [0, 6, 7, 8, 10]
 2 -> [0, 2, 6, 7, 8, 10]
10 -> [0, 2, 6, 7, 8, 10, 10]

# Arrays

If the list will only contain numbers, an array.array is more efficient than a list: it supports all mutable sequence operations (including .pop, .insert, and .extend), and additional methods for fast loading and saving such as .frombytes and .tofile.

In [1]:
from array import array
from random import random
floats = array('d', (random() for i in range(10**7)))
floats[-1]

0.4747253388768794

In [2]:
# write array to file
fp = open('floats.bin', 'wb')
floats.tofile(fp)
fp.close()

In [3]:
# create new empty array
floats2 = array('d')

# open file in read mode
fp = open('floats.bin', 'rb')

# import data into floats2 array from file
floats2.fromfile(fp, 10**7)

floats2[-1]

0.4747253388768794

In [4]:
floats2 == floats

True

## Saving with array.tofile is about 7 times faster than writing one float per line in a text file.